@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  position: relative;
}

i {
  font-size: 20px;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.container {
  padding: 80px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  background-color: #6415ff;
  height: 2px;
  bottom: -3px;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.link__hover-effect--white:after {
  background-color: #fff;
}

.purple {
  color: #6415ff;
}

.btn__menu {
  background-color: transparent;
  border: none;
  font-size: 40px;
  text-align: center;
  color: #243e63;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #fff;
  top: 3%;
  left: 2%;
  bottom: 40%;
  right: 2%;
  border: 1px solid #a0aec08c;
  border-radius: 10px;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

@keyframes slide-in {
  0% {
    transform: translateX(110%);
  }

  33% {
    transform: translateX(-10%);
  }

  67% {
    transform: translateX(10%);
  }
  
  100% {
    transform: translateX(0);
  }
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  animation: slide-in 300ms 400ms backwards;
}

.menu--open {
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 8px 0;
}

.menu__link {
  font-size: 18px;
  color: #1a202c;
  font-weight: 600;
}

.menu__link:hover {
  color: #6415ff;
  cursor: pointer;
}

.menu__list--primary {
  margin-top: 12px;
}

.btn__menu--close {
  position: absolute;
  right: 10px;
  top: -18px;
  padding: 8px;
  color: #243e63;
}

.btn__menu--close:hover,
.btn__menu:hover {
  color: #6415ff;
}

/* LANDING */

#landing {
  height: 100vh;
}

nav {
  padding: 0 24px;
  display: flex;
}

.nav__container {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.logo__wrapper:hover .logo__text {
  color: #6415ff;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.logo__text {
  font-size: 24px;
  font-weight: 900;
  color: #243e63;
}

.nav__links {
  display: flex;
}

.nav__link {
  font-size: 14px;
  margin: 0 12px;
  font-weight: 600;
  color: #243e63;
  transition: all 300ms ease;
}

.nav__link--margin {
  margin-left: 48px;
}

.nav__link:hover {
  color: #6415ff;
}

.nav__link--primary {
  background-color: #6415ff;
  color: white;
  border-radius: 999px;
  padding: 12px 32px;
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  background-color: #4108b4;
  color: white;
}

header {
  padding: 84px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.header__description {
  width: 42%;
  display: flex;
  flex-direction: column;
}

.header__description--title {
  font-size: 48px;
  color: #1a202c;
}

.header__description--para {
  font-size: 18px;
  color: #243e63;
  margin: 32px 0;
}

input {
  width: 100%;
  max-width: 380px;
  padding: 20px 192px 20px 32px;
  border-radius: 9999px;
  border: 2px solid #a0aec068;
}

input::placeholder {
  color: #a0aec068;
}

input:hover {
  border-color: #a0aec0;
}

input:focus {
  border: 2px solid #6415ff;
  outline: transparent solid 2px;
}

form {
  position: relative;
}

.btn {
  background-color: #6415ff;
  color: white;
  border-radius: 9999px;
  border: none;
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 700;
}

.header__btn {
  position: absolute;
  right: 26.5%;
  bottom: 10%;
}

.btn:hover {
  background-color: #4108b4;
  cursor: pointer;
}

.header__description--para-2 {
  font-size: 12px;
  font-weight: 700;
  color: #a0aec0;
  margin: 80px 0 16px 0;
}

.header__description--img {
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  width: 57%;
}

.header__img {
  width: 100%;
}

/* FEATURES */

.features__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 48px;
}

.section__title {
  font-size: 16px;
}

.section__heading {
  font-size: 48px;
  color: #243e63;
  margin: 36px 0;
  font-weight: 900;
}

.section__para {
  font-size: 20px;
  color: #7c8ba1;
  width: 100%;
  max-width: 650px;
  line-height: 1.75;
  font-weight: 600;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  display: flex;
  width: 30%;
  margin: 0 12px;
  padding: 24px 0;
}

.service__img--wrapper {
  display: flex;
  border: 1px solid #7c8ba180;
  padding: 20px;
  border-radius: 9999px;
  max-height: 65px;
}

.service__description {
  padding-left: 12px;
}

.service__description--title {
  font-size: 24px;
  color: #000;
  margin-bottom: 12px;
}

.service__description--para {
  font-size: 16px;
  color: #7c8ba1;
  line-height: 2.5;
  width: 100%;
  max-width: 200px;
  font-weight: 600;
}

/* QUALITY */

.quality__wrapper {
  display: flex;
  justify-content: space-between;
}

.quality__description {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.quality__btn {
  width: 100%;
  max-width: 175px;
  margin-top: 28px;
}

.quality__img--wrapper {
  width: 48%;
}

.quality__img {
  width: 100%;
}

/* STEPS */

.steps__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps__img--wrapper {
  width: 48%;
}

.steps__img {
  width: 100%;
}

.steps__description {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.step {
  display: flex;
  margin-top: 24px;
}

.step__num {
  font-size: 36px;
  color: #cbd5e0;
}

.step__text--wrapper {
  margin-left: 24px;
}

.step__text--wrapper-margin {
  margin-left: 30px;
}

.step__text--title {
  font-size: 20px;
  color: #243e63;
}

.step__text--para {
  font-size: 14px;
  font-weight: 600;
  color: #718096;
  margin-top: 12px;
  width: 100%;
  max-width: 320px;
}

/* VALUES */

.values__wrapper {
  display: flex;
  justify-content: space-between;
}

.values__description {
  width: 48%;
}

.values {
  display: flex;
  margin-top: 24px;
}

.value__title--wrapper {
  display: flex;
  align-items: center;
}

.value__img--wrapper1 {
  display: flex;
  border: 2px solid lightgreen;
  background-color: lightgreen;
  padding: 8px 11.75px 8px 11.75px;
  border-radius: 999px;
  height: 50%;
}

.value__img--wrapper2 {
  display: flex;
  border: 2px solid pink;
  background-color: pink;
  padding: 8px;
  border-radius: 999px;
  height: 50%;
}

.value__title {
  margin-left: 8px;
  color: #243e63;
}

.value__para {
  margin-top: 24px;
  line-height: 1.5;
  color: #718096;
}

.value__btn {
  margin-top: 48px;
}

.values__img--wrapper {
  width: 48%;
}

.values__img {
  width: 100%;
}

/* PRICING */

.pricing__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plans {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
}

.plan {
  width: 30%;
  margin-top: 64px;
  position: relative;
  border: 2px solid #7c8ba180;
  border-radius: 10px;
}

.plan--blue {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.plan__border-top {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan__border-top--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plan__header {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.name {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
}

.price {
  margin: 12px 0;
  color: #1a202c;
  font-size: 48px;
  font-weight: 700;
}

.duration {
  color: #a0aec0;
  font-size: 16px;
  font-weight: 700;
}

.plan__features {
  padding: 32px;
  border-top: 1px solid #7c8ba180;
  border-bottom: 1px solid #7c8ba180;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plan__feature {
  color: #718096;
  font-size: 16px;
  margin-top: 20px;
}

.plan__feature--main {
  color: #1a202c;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.white {
  color: white;
}

.plan__btn--wrapper {
  padding: 32px;
  display: flex;
  justify-content: center;
}

.plan__btn {
  padding: 16px 32px;
  border-radius: 999px;
  border: none;
  font-weight: 700;
  transition: all 300ms ease;
}

.plan__btn:hover {
  box-shadow: 0px 2px 5px 1px #24242459;
  transform: translateY(-1px);
  transform: translateX(1px);
  text-shadow: 2px 2px gray;
}

.plan__btn--green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: white;
}

.plan__btn--white {
  color: #6415ff;
}

.plan__btn--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  color: white;
}

/* FOOTER */

footer {
  background-color: rgb(100, 21, 255);
  padding: 72px 20px 36px 20px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__link {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 32px;
}

.footer__link--wrapper {
  display: flex;
  flex-direction: column;
}

.footer__link--title {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: start;
  margin-bottom: 12px;
}

.footer__link--li {
  margin-top: 12px;
}

.footer__link--anchor {
  color: #fff;
  font-size: 14px;
}

.break__line {
  width: 100%;
  border-bottom: 2px solid #71809672;
}

.footer__copyright--wrapper {
  padding: 32px 0 48px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo--text {
  color: #fff;
}

.footer__copyright {
  color: gray;
}

.footer__social--links {
  display: flex;
}

.footer__social--link {
  margin-left: 12px;
  padding: 8px;
  background-color: #fff;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook {
  padding: 8px 11.75px;
}

.youtube {
  padding: 8px 6.75px ;
}

.footer__social--link:hover {
  background-color: #ffffff85;
}

@media (max-width: 1280px) {
  .header__description--title {
    font-size: 36px;
  }

  .header__description--para {
    font-size: 16px;
  }

  .header__img--wrapper {
    width: 43%;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }

  .nav__link {
    display: none;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__description {
    width: 65%;
  }

  .header__btn {
    right: 7%;
  }

  .header__description--img {
    padding: 0;
  }

  .header__img--wrapper {
    width: 65%;
  }

  .features__description {
    margin-top: 200px;
  }

  .services {
    justify-content: center;
  }

  .service {
    width: 45%;
    justify-content: center;
  }

  .section__heading {
    font-size: 36px;
  }

  .section__para {
    font-size: 16px;
  }

  .values {
    flex-direction: column;
  }

  .value {
    margin-bottom: 32px;
  }

  .value__para {
    max-width: 315px;
  }

  .value__btn {
    margin: 0;
  }

  .values__img--wrapper {
    display: flex;
    align-items: center;
  }

  .plans {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .section__para {
    font-size: 14px;
  }

  .service {
    width: 100%;
  }

  .quality__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .quality__description {
    text-align: center;
    width: 60%;
    align-items: center;
    margin-top: 24px;
  }

  .steps__wrapper {
    flex-direction: column;
  }

  .steps__img--wrapper {
    width: 65%;
  }

  .steps__description {
    align-items: center;
    width: 65%;
    margin-top: 36px;
  }

  .values__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .values__img--wrapper {
    width: 65%;
  }

  .values__description {
    width: 65%;
    margin-top: 36px;
    text-align: center;
  }

  .values {
    align-items: center;
  }

  .value__title--wrapper {
    justify-content: center;
  }

  .footer__links {
    justify-content: center;
    margin-left: 100px;
  }

  .footer__link {
    width: 30%;
  }

  .footer__copyright--wrapper {
    flex-direction: column;
  }

  .footer__copyright {
    margin: 24px 0;
  }
}